@import './src/partials/variables';
@import './src/partials/mixins';
.diary-list {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: $text-color;
  
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
    .diary-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
  
      .diary-card {
        flex: 1 1 calc(33.333% - 1rem); // Three cards on larger screens
        border: 1px solid $secondary-color;
        border-radius: 8px;
        padding: 1rem;
        background-color: lighten($secondary-color, 10%);
        transition: background-color 0.3s;
  
        @include respond-to(tablet) {
          flex: 1 1 calc(50% - 1rem); // Two cards on tablet
        }
  
        @include respond-to(mobile) {
          flex: 1 1 100%; // Full width on mobile
        }
      }
    }
  
    .create-diary-button {
      display: block;
      margin: 2rem auto 0;
      padding: 0.75rem 1.5rem;
      background-color: $primary-color;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
  
  