* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $secondary-color;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
