// Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media Queries for Responsiveness
@mixin respond-to($device) {
  @if $device == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $device == desktop {
    @media (max-width: $breakpoint-desktop) {
      @content;
    }
  }
}
